body {
  text-align: center;
  background-color: lightblue;
  height: 1000px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#cards {
  height: 400px;
  width: 616px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid teal;
  border-radius: 10px;
  padding: 40px 60px;
  background-color: aliceblue;
}

.tai-title {
  color: teal;
  font-family: 'Kaushan Script', cursive;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tai-text {
  color: teal;
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  margin-bottom: 20px;
}

.ai-disclaimer {
  color: teal;
  font-style: italic;
  margin-top: 10px;
  font-size: 12px
}

.card-back {
  background: teal;
  border: 2px solid lightseagreen;
  border-radius: 10px;
  width: 150px;
  height: 225px;
  position: relative;
}

.card-back:hover {
  background-color: lightseagreen;
  top: -10px;
  cursor: pointer;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid lightblue;
  border-bottom-color: teal;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 1s linear infinite;
}

#reading {
  width: 50%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid teal;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 40px;
}

.reading-card{
  color: teal;
  font-family: 'Kaushan Script', cursive;
  font-size: 33px;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 10px;
}

.reading-text {
  font-size: 20px;
  font-family: Arial, sans-serif;
}

.reading-more-info {
  margin-top: 15px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.reading-link {
  color: teal;
  font-weight: bold;
  text-decoration: none;
}

.reading-link:hover {
  text-decoration: underline;
}

.spinner-wrapper {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.loading-text {
  color: teal;
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  font-weight: bold;
  animation: fade 2s linear infinite;
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes fade {
  0% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}