body {
  text-align: center;
  background-color: aliceblue
}

#cards {
  margin-top: 100px;
  margin-left: 50px;
}

.card-back {
  background-color: teal;
  border: 2px solid lightseagreen;
  border-radius: 10px;
  width: 200px;
  height: 300px;
  position: absolute;
}

.card-back:hover {
  background-color: lightseagreen;
  top: 85px;
}